<h1>{{title}}</h1>
<p>{{definition}}</p>
<p>AJAX is not a programming language.</p>

<p> AJAX just uses a combination of:</p>

<ul>
    <li>A browser built-in XMLHttpRequest object (to request data from a web server)</li>
    <li>JavaScript and HTML DOM (to display or use the data)</li>
</ul>

<p>AJAX is a developer's dream, because you can:</p>

<ul>
    <li>Update a web page without reloading the page
    </li>
    <li>Request data from a server - after the page has loaded
    </li>
    <li>Receive data from a server - after the page has loaded
    </li>
    <li>Send data to a server - in the background
    </li>
</ul>