<h1>{{title}}</h1>
<p>{{definition}}</p>


<h1>Webpack</h1>
<p>Webpack is arguably the industry standard when it comes to bundlers having offer tons of different plugins and
    configuration options for developers, and not forgetting the massive community support available.</p>
<a href="https://webpack.js.org/concepts/">Docs</a>
<br><br>
<h1>Browserify</h1>
<p>Browserify lets you require('modules') in the browser by bundling up all of your dependencies.</p>
<p>require('modules') in the browser

    Use a node-style require() to organize your browser code and load modules installed by npm.

    browserify will recursively analyze all the require() calls in your app in order to build a bundle you can serve up
    to the browser in a single script tag.</p>
<a href="https://github.com/browserify/browserify#usage">Docs</a>
<br><br>
<h1>rollup.js
</h1>
<p>Rollup is a module bundler for JavaScript which compiles small pieces of code into something larger and more complex,
    such as a library or application. It uses the new standardized format for code modules included in the ES6 revision
    of JavaScript, instead of previous idiosyncratic solutions such as CommonJS and AMD. ES modules let you freely and
    seamlessly combine the most useful individual functions from your favorite libraries. This will eventually be
    possible natively everywhere, but Rollup lets you do it today.</p>
<a href="https://rollupjs.org/guide/en/">Docs</a>
<br><br>
<p>for a comparison between the <a href="https://npmtrends.com/browserify-vs-rollup-vs-webpack">3 Bundlers </a></p>