<h1>{{title}}</h1>
<p>{{definition}}</p>
<p>The CANVAS element allows you to <strong>display graphics, games, artwork and other visual elements directly on the
        web page</strong> </p>

<p> If your application needs to be viewed on mobile devices (both Android and iOS) as well as on modern desktop
    computers (updated to the latest browser versions), then the use of the CANVAS element is a must.
    modern desktops (updated to the latest browser versions), then using the CANVAS element is a good option.
    a good option.
</p>
<ul>
    <li> HTML Canvas can draw text</li>
    <li> HTML Canvas Can Draw Graphics</li>
    <li> HTML Canvas can be animated</li>
    <li> HTML Canvas can be interactive </li>
    <li> HTML Canvas can be used in games</li>
    <!-- Canvas can draw colorful text, with or without animation.
    Canvas has great features for graphical data presentation with an imagery of graphs and charts.
    Canvas objects can move. Everything is possible: from simple bouncing balls to complex animations.
    Canvas can respond to JavaScript events.
    Canvas can respond to any user action (key clicks, mouse clicks, button clicks, finger movement). -->

</ul>
<div class="container" style="border:1px solid red;">
    <canvas #canvas id="canvas" style="border:1px solid #000000;">
        Your browser does not support the HTML canvas tag.
    </canvas>
    <div>
        <button mat-raised-button color="primary" (click)="play()">Play</button>
    </div>
</div>