<h1>According to Front End Engineer Profile - Workspace.</h1>
<p>Need to improve these topics :</p>


<h2>About HTML: </h2>
<ul>
    <li>WebComponents (concept/shadow DOM) </li>
    <li>Webworkers</li>
    <li>Canvas (Raw & Libraries like Paper.js, KinectJS, etc)</li>
</ul>

<h2>About CSS:</h2>
<ul>
    <li>BEM / SMACSS / OOCSS </li>
    <li>CSS Transformations and Transitions</li>
    <li>SASS</li>
    <li>Bootstrap</li>
</ul>

<h2>About JS: </h2>
<ul>
    <li>OOP / Prototype (new/Object.create, constructors) </li>
    <li>Ajax (security, cors, json/jsonp, xml, etc) </li>
    <li>Functional programming (as opposed to OOP) </li>
    <li>Events (capture/target/propagation, delegation, Touch Events Support) </li>
    <li>Patterns (Module/Observer/IIFE/mixin) </li>
    <li>Browserify, WebPack, Rollup.js </li>
    <li>HTTP2</li>
    <li>Websockets (e.g. socket.io)</li>
</ul>

<p><strong>You will find information on all the topics that I set as my objective in the side menu</strong></p>
<app-rick-morty></app-rick-morty>