<h1>{{title}}</h1>
<p>{{definition}}</p>

<ul>
    <li>It is used to define objects and specify the variables and the functions that can be accessed from outside the
        scope of the function.</li>
    <li>We expose certain properties and function as public and can also restrict the scope of properties and functions
        within the object itself, making them private.

    </li>
    <li>This means that those variables cannot be accessed outside the scope of the function.

    </li>
    <li>We can achieve data hiding an abstraction using this pattern

    </li>
</ul>

<p>Use Module pattern for the following benefits:

</p>

<ol>
    <li><strong>Maintainability</strong> : Module Patterns enable better maintainability since all the related code can
        be encapsulated
        inside a single logical block. These logically independent blocks are relatively easier to update.

    </li>
    <li><strong>Reusability</strong> : We single unit of code can be reused across the entire application. Functionality
        enclosed as a
        module can be reused and we do not need to define the same functions at multiple points.</li>
</ol>

<br>
<br>
<h1>Observer Pattern
</h1>
<p>The Observer pattern offers a subscription model in which objects subscribe to an event and get notified when the
    event occurs. This pattern is the cornerstone of event driven programming, including JavaScript. The Observer
    pattern facilitates good object-oriented design and promotes loose coupling.</p>

<h3>Using Observer</h3>
<p>When building web apps you end up writing many event handlers. Event handlers are functions that will be notified
    when a certain event fires. These notifications optionally receive an event argument with details about the event
    (for example the x and y position of the mouse at a click event).
<p>The event and event-handler paradigm in JavaScript is the manifestation of the Observer design pattern. Another name
    for the Observer pattern is Pub/Sub, short for Publication/Subscription.

</p>
<img src="https://www.dofactory.com/img/diagrams/javascript/javascript-observer.jpg" alt="observer pattern">

<br>
<br>

<h1>IIFE (Immediately Invokable Function Expressions) Pattern</h1>
<p>
    IIFE (Immediately Invokable Function Expression) is a important concept in JavaScript. it is a commonly used Design
    Pattern which is used to wrap set of variables and functions which cannot be accessed outside the enclosed scope.
</p>

<p>
    These are Anonymous Function that is wrapped inside a set of paranthesis and is called immediately.
</p>

<p>
    The common advantage of IIFE is that any "Function or Variable" defined inside IIFE, cannot be accessed outside the
    IIFE block, thus preventing global scope from getting polluted. Also helps us manage memory in an efficient manner.
</p>