$sidebar-background-color: #f2f2f2;
$sidebar-active-background-color: #ffe6f7;
$sidebar-text-color: #444444;

$header-background-color: rgb(198, 102, 243);
$header-text-color: white;

$footer-background-color: rgb(198, 102, 243);
$footer-text-color: white;

$table-head-color: rgb(198, 102, 243);
