<h1>{{title}}</h1>
<p>{{definition}}</p>

<p>Here are some examples of HTML events:

</p>

<ul>
    <li>An HTML web page has finished loading
    </li>
    <li>An HTML input field was changed
    </li>
    <li>An HTML button was clicked
    </li>
</ul>

<h2>Common HTML Events
</h2>

<table style="width: 100%">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>onchange</td>
            <td>An HTML element has been changed</td>
        </tr>
        <tr>
            <td>onclick</td>
            <td>The user clicks an HTML element</td>
        </tr>
        <tr>
            <td>onmouseover</td>
            <td>The user moves the mouse over an HTML element</td>
        </tr>
        <tr>
            <td>onmouseout</td>
            <td>The user moves the mouse away from an HTML element</td>
        </tr>
        <tr>
            <td>onkeydown</td>
            <td>The user pushes a keyboard key</td>
        </tr>
        <tr>
            <td>onload</td>
            <td>The browser has finished loading the page</td>
        </tr>
    </tbody>
</table>

<div>
    <pre>
            <code>{{code1}}</code>
        </pre>
</div>