<!-- <h1>{{title}} </h1>
<p>{{definition}}</p>
 -->

<h1>CSS transitions</h1>
<p>Transitions are the grease in the wheel of CSS transforms. Without a transition, an element being transformed would
    change abruptly from one state to another. By applying a transition you can control the change, making it smooth and
    gradua</p>

<div class="wrap">
    <div class="container">
        <h1 class="example">Without transition</h1>
        <div class="box1 box"></div>
    </div>
    <div class="container">
        <h1 class="example">With transition</h1>
        <div class="box2 box"></div>
    </div>
</div>

<p>There are two properties that are required in order for the transition to take effect:</p>

<li> transition-property</li>
<li>transition-duration</li>

<p>Here’s the full shorthand sequence. Again, the first two properties are required.

</p>

<div>
    <pre>
            <code>{{code}}</code>
        </pre>
</div>



<h1>
    CSS transforms
</h1>

<p>With the CSS transform property you can rotate, move, skew, and scale elements. (This post will only cover 2D
    transforms, but stay tuned for future blog posts on 3D transforms.)
</p>

<p>Transforms are triggered when an element changes states, such as on mouse-hover or mouse-click.</p>

<h2>scale</h2>
<p>The scale value allows you to increase or decrease the size of an element.</p>

<div class="square"> </div>


<div>
    <pre>
            <code>{{code2}}</code>
        </pre>
</div>

<h2>rotate</h2>

<div class="droplet"></div>


<div>
    <pre>
            <code>{{code3}}</code>
        </pre>
</div>

<h2>translate</h2>

<p>The translate value moves an element left/right and up/down. The movement is based on the parameters given for the X
    (horizontal) Y (vertical) axes.</p>

<div class="square2"></div>