.wrap {
  margin: 50px;
}

.container {
  display: inline-block;
  width: 300px;
}

.example {
  color: lightgray;
  font-family: lato;
  font-size: 20px;
  font-weight: 200;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.box {
  border-radius: 5px;
  height: 40px;
  margin: 50px auto;
  width: 80px;

  .wrap:hover & {
    transform: scale(2);
  }
}

.box1 {
  background: mediumturquoise;
}

.box2 {
  background: #2b3f53;
  transition: all 1s;
}

.square {
  background: darkturquoise;
  border-radius: 5px;
  height: 100px;
  margin: 100px;
  transition: transform 1s;
  width: 100px;

  &:hover {
    transform: scale(2);
  }
}

.droplet {
  background: mediumaquamarine;
  border-radius: 2% 50%;
  height: 100px;
  margin: 100px;
  transition: all 3s;
  transition-timing: ease-in-out;
  width: 100px;

  &:hover {
    transform: rotate(1080deg);
  }
}

.square2 {
  background: #2b3f53;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  //   position: absolute;
  width: 150px;

  &:hover {
    transform: translate(40px, 40px);
  }
}
