<h1>{{title}} </h1>
<p>{{definition}}</p>

<h2>Sass basics</h2>

<div>
    <h3>Variables</h3>
    <p>
        Think of <strong>variables</strong> as a way to store information that you want to reuse throughout the
        stylesheet.
        stylesheet.
    </p>
    <div>
        <pre>
            <code>{{code}}</code>
        </pre>
    </div>

    <h3>Nesting</h3>
    <p>
        Sass will allow you to nest your CSS selectors so that they follow the same visual hierarchy as your HTML.
    </p>
    <div>
        <pre>
            <code>{{code1}}</code>
        </pre>
    </div>

    <h3>Modules</h3>
    <p>
        You don't have to write all your Sass in one file. You can split it up however you want with the @use rule.
        This rule loads another Sass file as a module, which means you can reference its variables, mixins
        and functions
        in your Sass file with a namespace based on the file name.
    </p>
    <div>
        <pre>
            <code>{{code2}}</code>
        </pre>
    </div>

    <h3>Mixins</h3>
    <p>
        A mixin allows you to create groups of CSS declarations that you want to <strong>reuse</strong> throughout your
        site.
        It helps to keep
        Sass very DRY. You can even pass in values to make your mixin more flexible.
    </p>
    <div>
        <pre>
            <code>{{code3}}</code>
        </pre>
    </div>

    <h3>Extend/Inheritance</h3>
    <p>
        Using @extend allows you to share a set of CSS properties from one selector to another.

        What the code does is tell .message, .success, to behave just like
        %message-shared. This means that wherever %message-shared appears, so does
        .message, .success
    </p>
    <div>
        <pre>
            <code>{{code4}}</code>
        </pre>
    </div>

</div>


<a href="https://sass-lang.com/">SASS docs</a>