<h1>Organizing CSS</h1>


<h2>BEM</h2>
<p>BEM — is a methodology that helps you to create reusable components and code sharing in front‑end development.
    BEM is a specific concrete application of OOCSS. BEM stands for Block Element Modifier, and it describes the pattern
    of each CSS object's class name. We use a modified form of BEM, described best by <a
        href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">CSS Wizardry's post titled
        MindBEMding</a>.</p>
<p>Essentially, each BEM class starts with a block, which is an object name. Let's start with <code>.byline</code>.
    Then, for children of that block, you add an element, separating it with two underscores:
    <code>.byline__name</code>. Finally, you can modify any class (block or element) by adding a modifier, separated
    with two hyphens: <code>.byline--expanded</code>.
</p>


<div>
    <pre>
            <code>{{code}}</code>
        </pre>
</div>

<h2>SMACSS</h2>
<p>SMACSS (pronounced “smacks”) is more style guide than rigid framework. There is no library within here for you to
    download or install. There is no git repository for you to clone. SMACSS is a way to examine your design process and
    as a way to fit those rigid frameworks into a flexible thought process. It is an attempt to document a consistent
    approach to site development when using CSS.
    To learn more, check out the
    <a href="https://smacss.com/">SMACSS web site</a> and read or order the book there.
</p>


<h2>OOCSS</h2>
<p>OOCSS is a programming paradigm. OOCSS stands for Object Oriented CSS, so it's best understood in the context of
    Object Oriented programming: classic (spaghetti) CSS vs. OOCSS is a bit like procedural (spaghetti) backend code vs.
    Object-Oriented backend code.</p>

<p>Here's a sample, from that post, of an OOCSS object:</p>

<div>
    <pre>
            <code>{{code2}}</code>
        </pre>
</div>